---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { getBlogPostUrl } from "../../config/constants";

const blogEntries = await getCollection("blog");
---

<Layout title="Blog">
  <div class="flex items-start flex-col mt-5">
    {blogEntries.map((p) => (
      <a href={getBlogPostUrl(p.slug)} class="hover:underline mb-2">
        {p.data.title}
      </a>
    ))}
  </div>
</Layout>
